<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
      </head>
      <body>
        <h1>Character Recruitment List</h1>
        <ul class="todoItems">
          <% for(let i=0; i < items.length; i++) {%>
          <li class="item">
            <% if(items[i].recruited === true) {%>
            <span class="character-name completed"><%= items[i].name %></span>
            <span class="recruited">Recruited</span>
            <% }else{ %>
            <span class="character-name"><%= items[i].name %></span>
            <span class="recruitment-info"
              >Recruit: "<%= items[i].recruitment %>"</span
            >
            <% } %>
            <span class="notes">Notes: <% items[i].notes %></span>
          </li>
          <form action=<%= `/addTodo/${items[i]["_id"]}` %> method="POST">
            <input type="text" placeholder="Add note" name="todoItem" />
            <input type="submit" />
          </form>
          <% } %>
        </ul>

        <h2>Left to do: <%= left %></h2>

        <script src="js/main.js"></script>
      </body>
    </html>
  </body>
</html>
